table,
th,
td {
    border-width: 2px;
    border-color: black;
    border-style: inset;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

td {
    padding: 7px;
    align-content: center;
    background-color: aqua;
}

th {
    background-color: black;
    color: white;
}

table {
    width: 85%;
}